@{
    ViewData["Title"] = "Admin panel";
}

<h2>Admin Panel</h2>

<a class="btn btn-default" asp-area="Admin" asp-controller="Categories" asp-action="Index">Manage Categories</a>
<a class="btn btn-default" asp-area="Products" asp-controller="Home" asp-action="Index">Manage Products</a>
<a class="btn btn-default" asp-area="Admin" asp-controller="Users" asp-action="Index">Manage Users</a>
<a class="btn btn-default" asp-area="Admin" asp-controller="DistributorShipments" asp-action="Index">Manage distributor shipments</a>