@model IEnumerable<Zvezdichka.Data.Models.Product>

@{
    ViewData["Title"] = "Index";
    const int columnsPerRow = 4;
    int pageItem = 0;
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="containter">
    
    @foreach (var item in Model)
    {
        if (pageItem % columnsPerRow == 0) //open new row
        {
            @Html.Raw(@"<div class=""row"">")
            @Html.Partial("ProductColumn", item)
            pageItem++;
            continue;
        }

        @Html.Partial("ProductColumn", item)

        //close row
        if (pageItem + 1 % columnsPerRow == 0)
        {
            @Html.Raw("</div>")
        }

        pageItem++;
    }
</div>