@using Zvezdichka.Web.Areas.Admin.Models.Distributor
@model Zvezdichka.Web.Areas.Admin.Models.Distributor.CreateDistributorShipmentModel

@{
    ViewData["Title"] = "Create";
}

<div class="bg0 m-t-23 p-b-140">
    <div class="container">
        <h2>Create</h2>

        <h4>DistributorShipment</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input asp-for="Date" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>

                    <div>
                        <label asp-for="Distributor" class="control-label"></label>
                        <input asp-for="Distributor" class="form-control" />
                        <span asp-validation-for="Distributor" class="text-danger"></span>
                    </div>

                    <table id="delivery-products" class="table table-responsive table-striped">
                        <tr>
                            <th></th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Delivery price</th>
                            <th>Discount</th>
                            <th></th>
                        </tr>

                        @for (int i = 0; i < Model.Products.Count; i++)
                        {
                            <tr>
                                <td>1</td>
                                <td>
                                    <input name="Products[@i].Name" />
                                </td>
                                <td>
                                    <input name="Products[@i].Quantity" type="number" />
                                </td>
                                <td>
                                    <input name="Products[@i].Price" type="number" />
                                </td>
                                <td>
                                    <input name="Products[@i].DiscountPercentage" type="number" />
                                </td>
                                <td>
                                    <a class="btn btn-success" onclick="addCreateProductRow(@(i + 1))">Add</a>
                                </td>
                            </tr>
                        }
                    </table>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>

                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/distributor-shipments.js"></script>
    <script>
        var allInputs = $('input[type="datetime-local"]');
        var format = getDateTimeLocal();
        allInputs.val(format);
    </script>
}
