@{
    ViewData["Title"] = "Confirm email";
}

<div class="bg0 m-t-23 p-b-140">
    <div class="container">
        <h2>@ViewData["Title"]</h2>
        <div>
            <p>
                Thank you for confirming your email.
            </p>
        </div>
    </div>
</div>
