@{
    ViewData["Title"] = "Signed out";
}

<div class="bg0 m-t-23 p-b-140">
    <div class="container">
        <h2>@ViewData["Title"]</h2>
        <p>
            You have successfully signed out.
        </p>
    </div>
</div>

