body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url("/images/star-sky.png")
}

footer {

    color: white;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    max-height: 15px;
}

.body-content {
    background: aliceblue;
    border-radius: 5px;
    padding: 10px;
    min-height: 100vh;
}

table { background-color: white; }

.page-navigation-buttons {
    display: block;
    text-align: center;
}

.page-navigation-buttons a { margin: 0 auto; }

/* QR code generator */

#qrCode { margin: 15px; }

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.shadow-textarea textarea.form-control[placeholder] { font-weight: 300; }

.shadow-textarea textarea.form-control { padding-left: 0.8rem; }

.img-wrapper { position: relative; }

.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 50%;
}