body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */

#thumbnail { max-height: 150px; }

#thumbnail-container { height: 150px; }

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] { width: 100%; }

/* QR code generator */

#qrCode { margin: 15px; }

/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption { display: none; }
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.product-container { }

.thumbnails-wrapper { }

.thumbnail-image { }

.alternate-images { }

.thumbnail-image-hovered { border: 1px solid #099; }

#productImageContainer { height: 500px }

/*Side bar collapse*/

#filterPanel {
    float: left;
    width: 20%;
    height: 100%;
}

.shadow-textarea textarea.form-control[placeholder] { font-weight: 300; }

.shadow-textarea textarea.form-control { padding-left: 0.8rem; }

.img-wrapper { position: relative; }

.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 50%;
}

.invoice-header {
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background: #000E52;
}
/**/
/*.product-column-price {*/
/*    color: #EE3425;*/
/*    font-family: "Arial", Arial, serif;*/
/*    font-weight: bold;*/
/*    font-size: 20px;*/
/*}*/
/**/
/*.product-column-title:link {*/
/*    text-decoration: none;*/
/*    color: #636363*/
/*}*/
