@using Zvezdichka.Web.Areas.Shopping.Models.Checkout
@model List<Zvezdichka.Web.Areas.Shopping.Models.Checkout.CheckoutProductsModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="bg0 m-t-23 p-b-140">
    <div class="container">
        <h1>Checkout</h1>

        <form method="post" asp-area="Shopping" asp-controller="Checkout" asp-action="SecureCheckout">
            @await Html.PartialAsync("Invoice", Model)

            <button type="submit" class="btn btn-success">Secure Checkout</button>
        </form>
    </div>
</div>