@model List<Zvezdichka.Web.Areas.Shopping.Models.CheckoutProductsModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Checkout</h1>

<form method="post" asp-area="Shopping" asp-controller="Checkout" asp-action="SecureCheckout">
    @await Html.PartialAsync("Invoice", Model)
    
    <button type="submit" class="btn btn-success">Secure Checkout</button>
</form>

