@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Secure checkout</h2>

<a asp-area="Shopping" asp-controller="Checkout" asp-action="Delivery" class="btn btn-success">Delivery</a>