@model System.Collections.Generic.ICollection<Zvezdichka.Data.Models.CartItem>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>My Cart</h2>
<table class="table table-bordered table-responsive table-striped">

    <tr>
        <th>
            Item:
        </th>
        <th>
            Quantity:
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Product.Name
            </td>
            <td>
                @item.Quantity
            </td>
        </tr>
    }

</table>

<a asp-controller="Home" asp-action="Checkout" class="btn btn-success">Checkout</a>