@*@model IndexModel*@
@{
    ViewData["Title"] = "Admin panel";
}

<h2>Admin Panel</h2>

<a class="btn btn-default" href="../Categories">Manage Categories</a>
<a class="btn btn-default" href="../Products">Manage Products</a>
<a class="btn btn-default" href="../Admin/Users">Manage Users</a>
