@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    const string gMapsApiKey = "AIzaSyDIlazhQcp-5sneK4uuadwle_lscPfbxI4";
}

<h2>Contacts</h2>

<h3>My Google Maps Demo</h3>
<div id="map"></div>

<style>
    #map {
        width: 100%;
        height: 400px;
        background-color: grey;
    }
</style>

@section Scripts
{
    <script>
        function initMap() {
            var zvezdickaStore = { lat: 42.140282, lng: 24.760080 };

            var map = new google.maps.Map(document.getElementById('map'),
                {
                    zoom: 16,
                    center: zvezdickaStore
                });
            var marker = new google.maps.Marker({
                position: zvezdickaStore,
                map: map
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=@gMapsApiKey&callback=initMap">
    </script>
}