@using Zvezdichka.Web.Infrastructure.Constants
@model Zvezdichka.Web.Areas.Products.Models.ProductCreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Product</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control"/>
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThumbnailSource" class="control-label"></label>
                <input asp-for="ThumbnailSource" class="form-control"/>
                <span asp-validation-for="ThumbnailSource" class="text-danger"></span>
            </div>
           
            <select asp-for="Categories" class="selectpicker" multiple title="Choose categories...">
                @foreach (var cat in Model.Categories)
                {
                    <option value="@cat">@cat</option>
                }
            </select>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script>
        function appendSuggestionsDiv() {
            var input = $('#categories-input').val();
            var catSuggestions = $('.categories-suggestions');
            var parent = $('#categories-form-group');

            catSuggestions.remove();

            var obj = {};

            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: '/api/categories',
                dataType: "json",
                success: function(resp) {
                    obj = resp;
                }
            });

            console.dir(obj);

            //creating the suggestions div
            var suggestionsDiv = $('<div class="categories-suggestions">' + input + '</div>');
            parent.append(suggestionsDiv);

            //remove suggestions div if string is empty
            if (input === '') {
                catSuggestions.remove();
            }
        }
    </script>

    <script>
        $('#categories-input').bind('input', appendSuggestionsDiv);
    </script>
}