@using Zvezdichka.Web.Areas.Products.Models
@model Zvezdichka.Web.Areas.Products.Models.ProductEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<style>
    .img-wrapper {
        position: relative;
    }

    .img-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
    }

    .img-overlay:before {
        content: ' ';
        display: block;
        /* adjust 'height' to position overlay content vertically */
        height: 50%;
    }
</style>

<h2>Edit</h2>

<h4>Product</h4>
<hr/>
<div class="row">
    <div class="col-md-8">
        <form id="editForm" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" id="Description" name="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control"/>
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThumbnailSource" class="control-label"></label>
                <input asp-for="ThumbnailSource" class="form-control"/>
                <span asp-validation-for="ThumbnailSource" class="text-danger"></span>
            </div>

            <div class="form-group">
                @* Images list *@
                <label asp-for="ImageSources" class="control-label"></label>

                <div class="row">
                    @{
                        var images = @Model.ImageSources.Select(x => x.Source).ToArray();
                    }

                    @for (int i = 0; i < @Model.ImageSources.Count; i++)
                    {
                        <div class="col-lg-3 col-md-4 col-xs-12 img-wrapper">
                            <img src="@images[i]" class="img-responsive"/>

                            <div class="img-overlay">
                                <a class="btn btn-md btn-danger">Remove</a>
                            </div>
                        </div>
                    }
                </div>
                <span asp-validation-for="ImageSources" class="text-danger"></span>
            </div>
            TODO: ADD ATTACHING NEW IMAGES
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            CKEDITOR.replace("Description");

            $('#editForm').on('submit',
                function() {
                    var instance;
                    for (instance in CKEDITOR.instances) {
                        if (CKEDITOR.instances.hasOwnProperty(instance)) {
                            CKEDITOR.instances[instance].updateElement(() => all);
//                            debugger;
                        }
                    }
                });
        });


    </script>
}