@model int

<div class="flex-c-m h-full p-lr-10 bor5">
    <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti js-show-cart" data-notify="@Model"  id="navbar-shopping-cart-icon-mobile">
        <i class="zmdi zmdi-shopping-cart"></i>
    </div>
</div>